*{

}

.blok{
	border: solid black 2px;
	width: 50px;
	height: 50px;
	margin-left: 35px;
	display: inline-block;
	text-align: center;
}

.inputs{
	margin: 0 auto;
	border: white double 15px;
	background-color: #00BFFF;
	width: 500px;
	height: 500px;
}

.wordInput{
	padding: 10px;
	background-color: #00BFFF;
}

label{
	background-color: #00BFFF;
}

#submitButton{
	margin-bottom: 20px;
	margin-left: 110px;
	margin-top: 10px;
}

#bak{
	margin-left: 100px;
	width: 200px;
}

#logo{
	width: 200px;
	height: 50px;
	margin-left: 650px;
}
